{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><span class="glyphicon glyphicon-briefcase"></span></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Companies registered</span>
                            <span class="info-box-number">{{ companies }}</span>
                        </div>

                    </div>

                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-red"><span class="glyphicon glyphicon-file"></span></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Invoices generated</span>
                            <span class="info-box-number">{{ invoices }}</span>
                        </div>

                    </div>

                </div>

                <div class="clearfix visible-sm-block"></div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div id="aircraft" class="box">
                        <div class="box-header">
                            <h3 class="box-title">Last 10 Invoices</h3>
                        </div>
                        <div class="box-body table-responsive no-padding">
                            <table id="logs-table" class="table table-condensed">
                                <tbody>
                                <tr class="text-centar">
                                    <th class="text-center">#</th>
                                    <th class="text-center">Invoice No</th>
                                    <th class="text-center">Debtor Company Name</th>
                                    <th class="text-center">Creditor Company Name</th>
                                    <th class="text-center">Service</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-center">Cost</th>
                                    <th class="text-center">Status Type</th>
                                    <th class="text-center">Created</th>
                                    <th class="text-center">Updated</th>
                                </tr>
                                {% for invoice in invoicesList %}
                                    <tr>
                                        {% if invoice.statusType == 'open' %}
                                            {% set marker = 'success' %}
                                        {% else %}
                                            {% set marker = 'danger' %}
                                        {% endif %}
                                        <td class="text-center"> {{ invoice.id }} </td>
                                        <td class="text-center"> {{ invoice.invoiceNo }} </td>
                                        <td class="text-center"> {{ invoice.debtorCompanyId.companyName }}</td>
                                        <td class="text-center"> {{ invoice.creditorCompanyId.companyName }}</td>
                                        <td class="text-center"> {{ invoice.service }} </td>
                                        <td class="text-center"> {{ invoice.quantity }} </td>
                                        <td class="text-center"> {{ invoice.cost }} </td>
                                        <td class="text-center"> <span class="label label-{{ marker }}"> {{ invoice.statusType }}</span></td>
                                        <td class="text-center"> {{ invoice.createdAt|date("m/d/Y") }} </td>
                                        <td class="text-center"> {{ invoice.updatedAt|date("m/d/Y") }} </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
